name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/slogi-ocr-api
            
            git pull origin main

            # Stop and remove existing containers
            docker compose down
            
            # Remove old images
            docker compose rm -f
            
            # Build and start services
            docker compose up -d --build
            
            # Clean up dangling images
            docker image prune -f
